
@model List<FingerJoint>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<h2>Finger Joint Progress</h2>




<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>Finger</th>
            <th>Extension</th>
            <th>Flexion</th>
            <th>Active Value</th>
            <th>Passive Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td><a asp-action="GetDataForSelectedName" asp-route-selectedName="@item.Name">@item.Name</a></td>
                <td>@item.Date</td>
                <td>@item.Finger</td>
                <td>@item.Extension</td>
                <td>@item.Flexion</td>
                <td>@item.ActiveValue</td>
                <td>@item.PassiveValue</td>
                <td>@item.Description</td>
                <td><a asp-controller="FingerJoint" asp-action="Delete" asp-route-fid="@item.ID" class="btn btn-info text-dark"><b>Delete</b></a></td>

            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create New</a>


<canvas id="fingerJointChart"></canvas>


<script>
    $.ajax({
        type: "GET",
        url: "/FingerJoint/GetData",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
            var ctx = document.getElementById("fingerJointChart").getContext("2d");
            var chart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: data.fingerDataWithDates,
                    datasets: [
                        {
                            label: "Extension",
                            data: data.extensionData,
                            backgroundColor: "rgba(255, 99, 132, 0.2)",
                            borderColor: "rgba(255, 99, 132, 1)",
                            borderWidth: 1
                        },
                        {
                            label: "Flexion",
                            data: data.flexionData,
                            backgroundColor: "rgba(54, 162, 235, 0.2)",
                            borderColor: "rgba(54, 162, 235, 1)",
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                 ticks: {
                        min: -90,
                        max: 90,
                        stepSize: 60,
                        callback: function(value) {
                            if (value === -90 || value === 90) {
                                return value;
                            }
                        }
                    }
                            }
                        ]
                    }
                }
            });
        },
        error: function (error) {
            console.log(error);
        }
    });
    </script>
